#login{
	background: blue;
	margin-left: 588px;
    padding-right: 684px;
    margin: 5px auto;
    -webkit-border-radius: 10px;
    padding-left: 593px;
    font-size: x-large;
}
#register{
	background: blue;
	margin-left: 588px;
    padding-right: 634px;
    margin: 5px auto;
    -webkit-border-radius: 10px;
    padding-left: 593px;
    font-size: x-large;
}